.lp-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid lightseagreen;
    border-radius: 5px;
    padding: 4px;
}

.field {
    display: flex;
    flex-direction: column;
    background-color: brown;
    flex: 5;
}

.zones {
    display: flex;
    flex-direction: row;
}

.decks {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.game-wrapper {
    width: 800px;
    text-align: center;
}

.card {
    height: 64px;
    width: 32px;
    background-color: lightsalmon;
    text-align: center;
    line-height: 64px;
    border: 1px solid grey;
    border-radius: 5px;
}

.player-hand {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
